/* only used to reset animations */
@keyframes none{
    
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

@keyframes addition{
    /* from {box-shadow:.50px .25px 2px 2px #323232}
    to {box-shadow: .50px .75px 2px 5px green} */
    20%{transform: scale(1.1);}
    40%{transform: scale(1.1);}
    60%{transform: scale(1.0);}
    80%{transform: scale(1.05);}
    100%{transform: scale(1.0);}
}


@keyframes subtract{
    /* from {box-shadow:.50px .25px 2px 2px #323232}
    to {box-shadow: .50px .75px 2px 5px red} */

    20%{transform: scale(0.9);}
    40%{transform: scale(0.9);}
    60%{transform: scale(1.0);}
    80%{transform: scale(0.95);}
    100%{transform: scale(1.0);}
}

@keyframes toggleButtonOpen{
    0%{background-color: white;}
    25%{transform: rotateX(360deg);}
    50%{transform: scale(1.1);}
    75%{transform: scale(.9);}
    100%{background-color: #5b85aa;
            transform: scale(1); }
}

@keyframes toggleButtonClose{
    0%{background-color: white;}
    25%{transform: rotateX(360deg);}
    50%{transform: scale(1.1);}
    75%{transform: scale(.9);}
    100%{background-color: #5b85aa;
            transform: scale(1); }
}


.parent{
    width: 100%;
    margin: 0 auto;
    min-height: 79.9%;
    background: #eef2c3;
    border-bottom: .1px solid #323232;
}

.DashboardModals{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.ModalOption{
    width: 30%;
    margin: 3%;
    padding:3%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.ModalOption:hover{
    box-shadow: 0px 0px 5px 1px black;
    cursor: pointer;
}

#Profile{
    background: #eccd64;
}

#Item{
    background: #e47657;
}

#Location{
    background:#9c3a52;
}

img{
    width:50px;
    height: 50px;
}

.modalHold{
    border:1px solid red;
    margin: 0 auto;
    width:50%
}

.DashboardModal{
    position: absolute;
    padding: 2%;
    border-radius: 5px;
    border:1px solid #cccccc;
    top: 50%;
    left:50%;
    right:auto;
    bottom:auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 300px;
    background: #eef2c3;
}

.Dashboard{
    width: 100%;
    margin: 0 auto;
    height: 85%;
    background: #eef2c3;
    /* border:1px solid blue */
  }

.DashboardPage{
    margin: 0 auto;
    max-width: 80%;
    /* border:1px solid black; */
    /* overflow-y: scroll; */
}

.DashTitle{
    margin:0;
    padding-top: 1.5% ;
    top:0;
    background:#eef2c3;
}

#toggleUtils{
    display: none;
}

.Dash-item{
    background: inherit;
    width: 100%;
    margin: 0 auto;
}

/* //////Location classes and ids///// */


.location{
    text-align: left;
    border: none;
    padding: 1% 2%;
    margin: 4% 2%;
    box-shadow: .50px .25px 2px 2px #323232;
    animation: fadein 1s;
}

.location-labels{
    display: flex;
    justify-content: space-between;
}

.locationCrud{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:40%
}

.locationCrud img{
    padding:2% 2%;
}

.itemCrud{
    display: flex;
    justify-content: flex-end;
}

.itemCrud img{
    margin: 0 1%;
    width: 30px;
    height: 30px;
}

.location-button{
    background-color: #5b85aa;
    text-align: center;
    color:ivory;
    padding: 2% 2%;
    display: flex;
    align-items:center;
    border-radius: 10px;
}

.location-button:hover{
    cursor: pointer;
}

.location-button p{
    padding:0;
    margin:0;
}

.down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #555;
}

.rotateRight{
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid #555;
    border-bottom: 15px solid transparent;
}

#locationName{
    padding-bottom: .5%;
    width:250px;
    word-wrap: break-word;
    text-decoration: solid underline #8cb369 3px;
}

.locationItem {
    width: 90%;
    margin: 0 auto;
    border: solid 2px #323232;
    border-radius: 5px;
    display: none;
    padding:1%;
    animation: fadein 1s;
}

.locationVisible{
    display: block;
    margin: 1% auto;
}

.hide{
    display: none;
}


@media screen and (max-width:500px){


    #locationName{

    width: 90px;
    word-wrap: break-word;
    }

    .DashboardPage{
        max-width:95%
    }

    .locationCrud{
        border: .5px solid red;
        align-items: center;
        width:70%
    }
    
    .locationCrud img{
        width: 35px;
        height: 35px;
    }

    .location-button{
        padding: 2% 2%;
    }
}
  
@media screen and (min-width:550px) and (max-width:801px){
  
    .DashboardPage{
        max-width: 90%;
    }


    #toggleUtils{
        display: inline;
    }
 
  
  
}



