/* only used to reset animations */
@keyframes none{
    
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

@keyframes addition{
    /* from {box-shadow:.50px .25px 2px 2px #323232}
    to {box-shadow: .50px .75px 2px 5px green} */
    20%{transform: scale(1.1);}
    40%{transform: scale(1.1);}
    60%{transform: scale(1.0);}
    80%{transform: scale(1.05);}
    100%{transform: scale(1.0);}
}


@keyframes subtract{
    /* from {box-shadow:.50px .25px 2px 2px #323232}
    to {box-shadow: .50px .75px 2px 5px red} */

    20%{transform: scale(0.9);}
    40%{transform: scale(0.9);}
    60%{transform: scale(1.0);}
    80%{transform: scale(0.95);}
    100%{transform: scale(1.0);}
}

@keyframes toggleButtonOpen{
    0%{background-color: white;}
    25%{transform: rotateX(360deg);}
    50%{transform: scale(1.1);}
    75%{transform: scale(.9);}
    100%{background-color: #5b85aa;
            transform: scale(1); }
}

@keyframes toggleButtonClose{
    0%{background-color: white;}
    25%{transform: rotateX(360deg);}
    50%{transform: scale(1.1);}
    75%{transform: scale(.9);}
    100%{background-color: #5b85aa;
            transform: scale(1); }
}


.parent{
    width: 100%;
    margin: 0 auto;
    height: 80%;
    background: #eef2c3;
}

.Dashboard{
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 85%;
    background: #eef2c3;
    /* border:1px solid blue */
  }

.DashboardPage{
    margin: 0;
    width: 75%;
    overflow-y: scroll;
}

.DashTitle{
    margin:0;
    padding-top: 1.5% ;
    position: sticky;
    top:0;
    background:#eef2c3;
}

#toggleUtils{
    display: none;
}

.Dash-item{
    background: inherit;
    width: 90%;
    margin: 0 auto;
}

/* //////Location classes and ids///// */


.location{
    text-align: left;
    border: none;
    padding: 1% 2%;
    margin: 4% 2%;
    box-shadow: .50px .25px 2px 2px #323232;
    animation: fadein 1s;
}

.location-labels{
    display: flex;
    justify-content: space-between;
}

.location-button{
    background-color: #5b85aa;
    text-align: center;
    color:ivory;
    padding: 0 2%;
    display: flex;
    align-items:center ;
    border-radius: 10px;
}

.location-button:hover{
    cursor: pointer;
}

.location-button p{
    padding:0;
    margin:0;
}

.down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #555;
}

.rotateRight{
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid #555;
    border-bottom: 15px solid transparent;
}

#locationName{
    padding-bottom: .5%;
    border-bottom: 3px solid #8cb369 ;
}

.locationItem {
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px black;
    display: none;
    animation: fadein 1s;
}

.locationVisible{
    display: block;
    margin: 1% auto;
}

.hide{
    display: none;
}


@media screen and (max-width:500px){

    .DashboardPage{
        width: 100%;
    }


    #toggleUtils{
        display: inline;
    }
 
  
}
  
@media screen and (min-width:550px) and (max-width:801px){
  
    .DashboardPage{
        width: 100%;
    }


    #toggleUtils{
        display: inline;
    }
 
  
  
}



