.Dashboard{
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 70%;
    background: #eef2c3;
  }

.DashboardPage{
    margin: 0;
    width: 75%;
    overflow-y: scroll;
}

.DashTitle{
    margin:0;
    padding: 1.5% 0;
    position: sticky;
    top:0;
    background:#eef2c3;
}

.Dash-item{
    width: 90%;
    margin: 0 auto;
}

.Locations{
    background: #eef2c3;
}

.subDashTitle{
    margin:0;
    padding: 1.5% 0;
    position: sticky;
    top:72px;
    background:#eef2c3;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }

@keyframes addition{
    from {box-shadow:.50px .25px 2px 2px #323232}
    to {box-shadow: .50px .75px 2px 5px #ff715b}
}

@keyframes none{

}

@keyframes subtract{
    from {box-shadow:.50px .25px 2px 2px #323232}
    to {box-shadow: .50px .75px 2px 5px #c191a1}
}

.location{
    text-align: left;
    border: none;
    padding: 1% 2%;
    margin: 4% 2%;
    box-shadow: .50px .25px 2px 2px #323232;
    animation: fadein 1s;
}

.location-labels{
    display: flex;
    justify-content: space-between;
}

.locationItem {
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px black;
    display: none;
    animation: fadein 1s;
}

.locationVisible{
    display: block;
    margin: 1% auto;
}



