
.marketFeed{
    margin:0 auto ;
    padding:0;
    background:#eef2c3;
    max-width: 100%;
    height: 80%;
    border-top:1px solid #323232;
    border-bottom:1px solid #323232;
}

.container{
    margin: 0 auto;
    width: 50%;
    height: 91%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% ;
    justify-items: center;
    /* border: 1px solid black; */
}

.marketPage{
    margin: 0 auto;
    margin-bottom: 1%;
    height: 6%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marketPage button{
    padding: 1.5%;
    color:ivory;
    background: #e47657;
    border-radius: 5%;
    border:none;
}

.pageButton{
    color: ivory;
    background: #e47657;
    border:3px solid #eccd64;
    border-radius: 10%;
    padding:1% 1.5%;
}

.pageButton:hover{
    cursor: pointer;
}

#userName{
    background: #5b85aa;
    color:ivory;
    margin:0;
    padding:1% 0;
}

.userCard{
    padding:0;
    border-bottom: 1px solid #323232;
    width: 80%;
    height: 70%;
    margin: 2%;
    background:  inherit;
}

.UserMCardRender{
    width:95%;
    height:75%;
    margin: 0 auto;
    background: inherit;
    overflow-y: scroll;
}

#marketLocationName{
    margin: 2%;
    display: inline-block;
    border-bottom: 3px solid #8cb369;
}