h1, a{
  margin:0;
  padding:0;
}

.NavFlex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #323232;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
  
.NavFlex a{
  padding: 1% 0;
  color: ivory;
  text-decoration: none;
}

.NavSub{
  display: flex;
  justify-content: space-around;
  width: 40%;
}


.Loginpage{
  /* border:1px solid red; */
  background-image: url(https://images.unsplash.com/photo-1455920082645-445c9db5db53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);

  height: 80%;
  width: 100%;
  margin: 0 auto;
}

.loginForm{
  margin: auto;
  top: 50%;
  border: 1px solid ivory;
  background: ivory;
  height: 65%;
  width: 30%;
  border-radius: 10px;

  transform: translateY(30%);
}

#loginTitle{
  margin: 8% 0;
}

.loginItem{
  margin: 5% 0;
  padding: 2% 0;
}

.loginItem input{
  height: 40px;
}

#loginButton{
  background: #5b85aa;
  color:ivory;
  border: none;
  margin: 2% 0;
  padding: 1% 0;
  height: 40px;
  width:244px
}

.Registerpage{
    /* border:1px solid red; */
    background-image: url(https://images.unsplash.com/photo-1547471080-9d097dc0e589?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);

    background-position: 50% 45%;

    height: 80%;
    width: 100%;
    margin: 0 auto;

}

.Homepage{
  height: 80%;
  width: 100%;
  margin: 0 auto;
  background: #eef2c3;
}

.HomeImage{
  margin:0 auto;
  height:45%;
  width:100%;
  background-image: url(https://images.unsplash.com/photo-1518709766631-a6a7f45921c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2125&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 45%;
}

#HomeTitle{
  margin: 2% 0;
}

.HomeIntro{
  padding: 2% 3%;
  margin-top:3%;
}


.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50%;
  height: 50%;
  animation: spin 2s linear infinite;
  padding: 0;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.test{
  margin:0;
  padding:0;
  height: 10%;
  width: 100%;
}

.footerBar{
  display: flex;
  justify-content: space-around;
  color:ivory;
  /* border:1px solid red; */
  background: #323232;
  min-height: 10%;
  width: 100%;
}

.footerFlex{
  height: 55px;
  margin: auto auto;
  display: flex;
  justify-content: space-around;
  width: 25%;
}

@media screen and (max-width:500px){

  /* *****************Homepage************************ */

  #HomeTitle{
    margin:0 0 ;
  }

  .HomeIntro{
    margin-top:1%;
  }
  .NavFlex a{
    padding:0;
  }

  .footerFlex{
    width:70%
  }

  .NavSub{
    width:70%
  }

  /* *******************Login*********************** */

  .loginForm{
    width: 80%;
  }
}

@media screen and (min-width:550px) and (max-width:801px){

  #HomeTitle{
    margin: 4% 0;
  }

  .HomeIntro{
    margin-top: 6%;
  }

  .footerFlex{
    width:50%
  }

  .loginForm{
    width: 70%;
  }

  
}