h1{
  margin:0;
  padding:0;
}

.NavFlex{
    display: flex;
    justify-content: space-around;
    background: #323232;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
  
.NavFlex a{
  padding: 2% 0;
  color: ivory;
}

.Loginpage{
  height: 80%;
  width: 40%;
  margin: 0 auto;
}

.Registerpage{
  height: 80%;
  width: 40%;
  margin: 0 auto;
}

.Homepage{
  height: 80%;
  width: 100%;
  margin: 0 auto;
  background: #eef2c3;
}

.HomeImage{
  margin:0 auto;
  height:45%;
  width:100%;
  background-image: url(https://images.unsplash.com/photo-1518709766631-a6a7f45921c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2125&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 45%;
}

#HomeTitle{
  margin: 2% 0;
}

.HomeIntro{
  padding: 2% 3%;
  margin-top:3%;
}


.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50%;
  height: 50%;
  animation: spin 2s linear infinite;
  padding: 0;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.test{
  margin:0;
  padding:0;
  height: 10%;
  width: 100%;
}

.footerBar{
  display: flex;
  justify-content: space-around;
  color:ivory;
  /* border:1px solid red; */
  background: #323232;
  min-height: 10%;
  width: 100%;
}

.footerFlex{
  height: 60px;
  margin: auto auto;
  display: flex;
  justify-content: space-around;
  width: 25%;
}