.NavFlex{
    display: flex;
    justify-content: space-around;
    background: #323232;
}
  
.NavFlex a{
  padding: 2% 0;
  color: ivory;
}

.Loginpage{
  height: 650px;
}

.Registerpage{
  height: 650px;
}

.Homepage{
  height: 650px;
}

.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50%;
  height: 50%;
  animation: spin 2s linear infinite;
  padding: 0;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}