.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavFlex{
  display: flex;
  justify-content: space-around;
  background: #323232;
}

.NavFlex a{
  padding: 2% 0;
  color: ivory;
}

.Dashboard{
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.DashboardUtils{
  margin:0;
  width: 30%;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  
}

.DashboardPage{
  margin: 0;
  width: 75%;
  border: 1px solid black;
}

.Dashboard-CRUD{
  
  margin: 2%;
}

.Dash-item{
  border: 1px solid black;
  width: 50%;
  
}

.Items{
  background: #ff934f;
}

.item{
 text-align: left;
 border: 5px solid #be6a35;
 border-radius: 20px;
 padding: 1% 2%;
 margin: 1% 0;
}

.Locations{
  background: #a3911c;
}

.location{
  text-align: left;
  border: 5px solid #76680d;
  border-radius: 20px;
  padding: 1% 2%;
  margin: 1% 0;
}

.Dashboard-flex{
  display: flex;
}

/* The edit panel classes and stuff********************** */

.UserToggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserToggle h1{
  margin: 0;
  padding: 0;
}

.UserOption{
  background: #ac7c83;
  border: 2px solid #816367;
  border-radius: 15px;
}

.ItemOption{
  background: #ff934f;
  border: 2px solid #be6a35;
  border-radius: 15px ;
}

.LocationOption{
  background:#a3911c;
  border: 2px solid #76680d;
  border-radius: 15px;
}

/* The invisible smoke and mirror classes and stuff********* */


.userForm{
  display: none;
}

.itemForm{
  display: none;
}

.locationForm{
  display: none;
}

.itemPostForm{
  display: none;
}

.locationPostForm{
  display: none;
}

.itemDeleteForm{
  display: none;
}

.locationDeleteForm{
  display: none;
}

.visible{
  display: block;
}


/* just test stuff for the perfect menu***********************/

.Primary{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Secondary{
  display: none;
}

.SecondaryFlex{
  display: flex;
  padding: 0 3%;
}

.ProfileSecondary{
  display: none;
}

.ItemSecondary{
  display: none;
}

.Third{
  display: none;
}

.EditForm{
  display: none;
}

.AddForm{
  display: none;
}

.DeleteForm{
  display: none;
}

.visible{
  display: block;
}




