.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavFlex{
  display: flex;
  justify-content: space-around;
  background: #323232;
}

.NavFlex a{
  padding: 2% 0;
  color: ivory;
}

.Dashboard{
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 650px;
  background: #eef2c3;
}

.Loginpage{
  height: 650px;
}

.Registerpage{
  height: 650px;
}

.Homepage{
  height: 650px;
}

.DashboardUtils{
  margin:0;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* background: #eef2c3; */
}

.DashboardPage{
  margin: 0;
  width: 75%;
  overflow-y: scroll;
}

.DashTitle{
  margin:0;
  padding: 1.5% 0;
  position: sticky;
  top:0;
  background:#eef2c3;
}

.subDashTitle{
  margin:0;
  padding: 1.5% 0;
  position: sticky;
  top:72px;
  background:#eef2c3;
}

.Dashboard-CRUD{
  
  /* margin: 2%; */
}

.Dash-item{
  width: 90%;
  margin: 0 auto;
}

.Items{
  background: #eef2c3;
}

.item{
 text-align: left;
 border: none;
 padding: 1% 2%;
 margin: 4% 2%;
 box-shadow: .50px .75px 2px 3px #323232;
}

.Locations{
  background: #eef2c3;
}

.location{
  text-align: left;
  border: none;
  padding: 1% 2%;
  margin: 4% 2%;
  box-shadow: .50px .75px 2px 3px #323232;
}

/* .Dashboard-flex{
  display: flex;
} */

/* The edit panel classes and stuff********************** */

.UserToggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserToggle h1{
  margin: 0;
  padding: 0;
}

.UserOption{
  background: #eccd64;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 3%;
  
}

.ItemOption{
  background: #e47657;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.LocationOption{
  background:#9c3a52;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

/* The invisible smoke and mirror classes and stuff********* */


.userForm{
  display: none;
  box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.itemForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.locationForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.itemPostForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.locationPostForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.itemDeleteForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.locationDeleteForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}


.Primary{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Primary:hover{
  cursor: pointer;
}

.Secondary{
  display: none;
}

.SecondaryFlex{
  display: flex;
  padding: 0 3%;
  justify-content: space-between;
  align-items: center;
}

.ProfileSecondary{
  display: none;
}

.ItemSecondary{
  display: none;
}

.LocationSecondary{
  display: none;
}

.Third{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.LocationThird{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.EditForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.AddForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.DeleteForm{
  display: none;
    box-shadow: 0px 9px 11px -10px black inset;
  padding: 3%;
}

.MenuWrap{
  
  margin: 2%;
 
}

.formVisible{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.visible{
  display: block;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.menuButton:hover{
cursor: pointer;
}






